@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var frontpage = CurrentPage.AncestorOrSelf("Forside");
}
<!doctype html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*Nomralize*@
    <link href="~/css/normalize.css" rel="stylesheet" />
    @*Foundation grid*@
    <link href="~/css/foundation.min.css" rel="stylesheet" />
    @*Open Sans Google fonts*@
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600' rel='stylesheet' type='text/css' />
    @*Iconer*@
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    @*Custom styles*@
    <link href="~/css/styles.css" rel="stylesheet" />
    @*Jquery*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    @*InstaFeed*@
    <script src="~/scripts/instafeed.js"></script>
    @*Custom script*@
    <script src="~/scripts/script.js"></script>
</head>
<body class="@CurrentPage.DocumentTypeAlias">
    @*<body class="lol12">*@
    <header class="boxShadow">
        <div class="burger" href="#"><span></span></div>
        <div class="header-logo"><a href="@frontpage.url"><img class="hidden" src="~/images/Diamant.svg" alt="Sort natklub" /></a></div>
        <div class="header-drink"><span class="book">Bord booking</span><span class="icon fa fa-plus"></span></div>
    </header>
    <nav>
        <ul class="main-nav">
            @foreach (var page in frontpage.Children.Where("Visible"))
            {
                <li><a href="@page.url">@page.Name</a></li>
            }
        </ul>
    </nav>
    @RenderBody()
    <footer>
        <div class="row">
            <div class="columns large-4">
                <h3>Sort natklub</h3>
            </div>
            <div class="columns large-4">
                <h3>Fang os på</h3>
            </div>
            <div class="columns large-4">
                <div class="row contactform">
                    <div class="columns large-6">
                        <input type="text" name="name" placeholder="Navn" />
                    </div>
                    <div class="columns large-6">
                        <input type="email" name="email" placeholder="Mail" />
                    </div>
                    <div class="columns large-12">
                        <textarea placeholder="Besked"></textarea>
                    </div>
                    <div class="columns large-12">
                        <div class="custom-button contactform">
                            <a href="#">Send</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>