@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var frontpage = CurrentPage.AncestorOrSelf("Forside");
    var booking = Umbraco.Content(1058);
}
<!doctype html>
<html>
<head>
    @if (!String.IsNullOrEmpty(CurrentPage.seoTitle))
    {
        <title> Sort - @CurrentPage.seoTitle</title>
    }
    else
    {
        <title>Sort</title>
    }
    @if (!String.IsNullOrEmpty(CurrentPage.seoDescription))
    {
        <meta name="description" content="@Umbraco.Field("seoDescription")" />
    }

    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*Nomralize*@
    <link href="~/css/normalize.css" rel="stylesheet" />
    @*Foundation grid*@
    <link href="~/css/foundation.min.css" rel="stylesheet" />
    @*Open Sans Google fonts*@
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600' rel='stylesheet' type='text/css' />
    @*Iconer*@
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    @*Datepicker*@
    <link href="~/css/foundation-datepicker.css" rel="stylesheet" />
    @*Facebook albums css*@
    <link href="~/css/jquery.fb.albumbrowser.css" rel="stylesheet" />
    @*Custom styles*@
    <link href="~/css/styles.css" rel="stylesheet" />
    @*Jquery*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    @*InstaFeed*@
    <script src="~/scripts/instafeed.js"></script>
    @*Datepicker*@
    <script src="~/scripts/foundation-datepicker.js"></script>
    @*Facecbook albums js*@
    <script src="~/scripts/jquery.fb.albumbrowser.js"></script>
    @*Jquery validation*@
    <script src="~/scripts/jquery.validate.js"></script>
    @*Custom script*@
    <script src="~/scripts/Cart.js"></script>
    <script src="~/scripts/script.js"></script>

</head>
<body class="@CurrentPage.DocumentTypeAlias">
        <header class="boxShadow">
            <div class="burger" href="#"><span></span></div>
            <div class="header-logo"><a href="@frontpage.url"><img class="hidden" src="~/images/Logo.svg" alt="Sort natklub" /></a></div>
            <div class="header-drink"><a href="@booking.Url"><span class="book">Bordbooking</span><span class="icon fa fa-plus"></span></a></div>
        </header>
        <div class="border-nav"></div>
        <nav>
            <ul class="main-nav">
                @foreach (var page in frontpage.Children.Where("Visible"))
                {
                    <li>
                        <a href="@page.url">@page.Name</a>
                    </li>
                }
                <li><a class="contact-link" href="#Contact">Kontakt</a></li>
            </ul>
        </nav>
        @RenderBody()
    <footer id="footer">
        <div class="row">
            <div class="columns small-12 medium-6 large-4">
                <div class="footer-icon-wrapper"><img src="~/images/speech.svg" alt="socail media" /></div>
                <h3>Fang os på</h3>
                @frontpage.footerText
                <p class="social">
                    <a href="https://www.facebook.com/Sortnatklub" target="_blank"><span class="fa fa-3x fa-facebook-official"></span></a>
                    <a href="https://instagram.com/sortnatklub/" target="_blank"><span class="fa fa-3x fa-instagram"></span></a>
                </p>
            </div>
            <div class="columns small-12 medium-6 large-4">
                <div class="footer-icon-wrapper"><img src="~/images/Diamant.svg" alt="Adresse" /></div>
                <h3>Sort natklub</h3>
                <p>@frontpage.address</p>
                <p>@frontpage.city</p>
                <p>+45 @frontpage.phone</p>
                <p>@frontpage.email</p>
            </div>
            <div class="columns large-4">
                <div id="Contact" class="row contactform">
                    <form id="contactForm" class="contact-form">
                        <div class="columns large-6">
                            <input type="text" name="name" placeholder="Navn" />
                        </div>
                        <div class="columns large-6">
                            <input type="email" name="email" placeholder="Mail" />
                        </div>
                        <div class="columns large-12">
                            <textarea name="message" placeholder="Besked"></textarea>
                        </div>
                        <div class="columns large-12">
                            <input type="submit" value="SEND" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>